@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: inter, sans-serif;
  background-color: white;
  color: black;
}

h1 {
  @apply font-bold text-3xl text-black;
}

h2 {
  @apply font-black text-lg text-black;
}

p {
  @apply text-sm font-normal text-black;
}

.cardTask {
  @apply bg-white text-black flex justify-start items-center flex-col py-16 rounded-lg px-10 shadow-md border-gray-500 hover:border-white cursor-pointer;
}

button {
  @apply bg-white text-black text-xs font-medium p-2 rounded-lg;
}

.input-search {
  border-width: 0.9px;
  @apply border-gray-500  flex justify-start items-center gap-x-3 bg-white font-medium px-2  py-2 rounded-lg focus:border-gray-200;
}

.navInput:focus-within {
  outline: none;
}

.input-form:focus-within {
  outline: none;
}

label {
  @apply text-black text-sm font-semibold;
}

.new-category-button {
  border-width: 0.9px;
  @apply rounded-full p-1 border-black  ;
}

.new-category-input {
  @apply rounded-full flex justify-center items-center p-1 h-6 w-20 cursor-pointer pl-2 text-center;
}

.new-category-input:focus-within {
  outline: none;
}

.button-conexions {
  @apply bg-white font-semibold cursor-pointer flex justify-center items-center px-9 py-3 rounded-lg gap-x-2 hover:bg-gray-300;
}

h3 {
  @apply text-gray-500 font-medium text-sm;
}

.url-input {
  border-width: 1px;
  @apply input-form col-span-3  border-gray-400  pl-2 rounded-lg py-2 font-medium bg-white text-black  pr-1  placeholder:text-gray-400  text-sm;
}

.box-category:hover {
  border-width: 0.9px;
}
